.git
.github
.vscode
.idea

.nx
.expo
.eas
dist
tmp
coverage
web-build
.metro-health-check*
*.tsbuildinfo

node_modules

/apps/*
!/apps/mobile

ios/
android/

*.apk
*.aab
*.ipa
*.tar.gz
*.orig.*

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
credentials/
credentials.json
google-services*.json
GoogleService-Info*.plist

.env*.local