dist
tmp
out
out-tsc
.next
.nx/cache
.nx/workspace-data
coverage/
/.sass-cache

node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
npm-debug.log
yarn-error.log

.expo/
apps/mobile/ios/
apps/mobile/android/
web-build/
cache/
*.jks
*.p8
*.p12
*.key
*.mobileprovision


.changeset/*.md
.env*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.idea

*.png
*.jpg
*.jpeg
*.svg
*.ico
*.webp
*.gif