services:
  gateway:
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    env_file:
      - .env
    ports:
      - '3000:3000'
    environment:
      - AUTH_GRPC_URL=auth:50051
    depends_on:
      - auth
    restart: unless-stopped

  auth:
    build:
      context: .
      dockerfile: apps/auth/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
