PORT=9001
HOST=0.0.0.0

# RESEND
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# FIREBASE
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY_B64=

# APNS
APNS_KEY_B64=
APNS_KEY_ID=
APNS_TEAM_ID=
APNS_BUNDLE_ID=com.recomend.app
