PORT=9000
HOST=0.0.0.0

API_URL=

# AUTH
AUTH_COOKIE_DOMAIN=
AUTH_SECRET=
# Google
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
# Github
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
# Facebook
AUTH_FACEBOOK_CLIENT_ID=
AUTH_FACEBOOK_CLIENT_SECRET=
# Apple
AUTH_APPLE_CLIENT_ID=
AUTH_APPLE_TEAM_ID=
AUTH_APPLE_KEY_ID=
AUTH_APPLE_PRIVATE_KEY=
AUTH_APPLE_BUNDLE_ID=

# S3
S3_ENDPOINT=
S3_PUBLIC_ENDPOINT=